{% extends 'base.html' %}

{% block title %}
Read
{% endblock %}

{% block content %}
<div class="text-right mb-2">
    <a href="{% url 'display_views:index' %}" class="btn btn-secondary" role="button">Back</a>
</div>

<div id="cards">
{% for name in object_list %}
    <div class="card bg-light text-dark my-2">
        <div class="card-body">
            <a href="{{ name.get_absolute_url }}">Name: {{ name.name }}  </a>  
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}

{% block script %}
{% endblock %}