{% extends 'base.html' %}

{% block title %}
Create
{% endblock %}

{% block content %}
<div class="text-right mb-2">
    <a href="{% url 'django_forms:update' %}" class="btn btn-secondary" role="button">Back</a>
</div>

<form action="{% url 'django_forms:update_form' record.id %}" method='POST' class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" placeholder="Enter name" id="name" name="name" value="{{ record.name }}" required>
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" class="form-control" placeholder="Enter age" id="age" name="age"  value="{{ record.age }}" required>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Enter email" id="email" name="email"  value="{{ record.email }}">
    </div>
    <div class="form-group">
        <label for="birthday">Birthday:</label>
        <input type="date" class="form-control" placeholder="Enter birthday" id="birthday" name="birthday" value="{{ birthday }}" required>
    </div>
    <div class="form-group">
        <label for="fave_programming">Favorite Programming Language:</label>
        <input type="text" class="form-control" placeholder="Enter your favorite programming language" id="fave_programming" name="fave_programming" value="{{ record.fave_programming }}">
    </div>
    <div class="custom-control custom-checkbox">
        {% if record.programmer == True %}
        <input type="checkbox" class="custom-control-input" id="likes_programming" name="likes_programming" checked>
        {% else %}
        <input type="checkbox" class="custom-control-input" id="likes_programming" name="likes_programming">
        {% endif %}
        <label class="custom-control-label" for="likes_programming">Likes programming or not?</label>
    </div>
    <div class="text-right my-2">
        <button type="submit" class="btn btn-warning">Update</button>
    </div>

</form>
{% endblock %}

{% block script %}
<script>
    // Disable form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
</script>
{% endblock %}