{% extends 'base.html' %}

{% block title %}
Delete
{% endblock %}

{% block content %}
<div class="text-right mb-2">
    <a href="{% url 'model_forms:index' %}" class="btn btn-secondary" role="button">Back</a>
</div>
{% for record in forms %}
<div class="card bg-light text-dark my-2">
    <div class="card-body">
        <p><span class="lead">{{ record.name }}</span>
            {% if record.programmer == True %}
            <span> - Likes Programming</span>
            {% else %}
            <span> - Does not like Programming</span>
            {% endif %}
        </p>
        <a href="{% url 'model_forms:delete_record' record.id %}">Delete</a>
    </div>
</div>
{% endfor %}
{% endblock %}