{% extends 'base.html' %}

{% block title %}
Update
{% endblock %}

{% block content %}
<div class="text-right mb-2">
    <a href="{% url 'model_forms:update' %}" class="btn btn-secondary" role="button">Back</a>
</div>

<form method='POST'>
{% csrf_token %}

{{ form.non_field_errors }}

<div class="form-group">
    {{ form.name.label_tag }}
    {{ form.name }}
    {% if form.name.errors %}
        {% for error in form.name.errors %}
        <div class="text-danger text-center">
            {{ error }}        
        </div>
        {% endfor %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.age.label_tag }}
    {{ form.age }}
    {% if form.age.errors %}
        {% for error in form.age.errors %}
        <div class="text-danger text-center">
            {{ error }}        
        </div>
        {% endfor %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.email.label_tag }}
    {{ form.email }}
    {% if form.email.errors %}
        {% for error in form.email.errors %}
        <div class="text-danger text-center">
            {{ error }}        
        </div>
        {% endfor %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.birthday.label_tag }}
    {{ form.birthday }}
    {% if form.birthday.errors %}
        {% for error in form.birthday.errors %}
        <div class="text-danger text-center">
            {{ error }}        
        </div>
        {% endfor %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.language.label_tag }}
    {{ form.language }}
    {% if form.language.errors %}
        {% for error in form.language.errors %}
        <div class="text-danger text-center">
            {{ error }}        
        </div>
        {% endfor %}
    {% endif %}
</div>

<div class="custom-control custom-checkbox">
    {{ form.programmer.errors }}
    {{ form.programmer }}
    <label class="custom-control-label" for="id_programmer">Likes programming or not?</label>
</div>

<div class="text-right my-2">
    <button type="submit" class="btn btn-warning">Update</button>
</div>
</form>
{% endblock %}