{% extends 'base.html' %}

{% block title %}
Create
{% endblock %}

{% block content %}
<div class="text-right mb-2">
    <a href="{% url 'todo_list:create' %}" class="btn btn-secondary" role="button">Back</a>
</div>

<form action="{% url 'todo_list:add_task' %}" method='POST'>
{% csrf_token %}

{{ form.non_field_errors }}

<div class="form-group">
    {{ form.user_name.label_tag }}
    {{ form.user_name }}
    {% if form.user_name.errors %}
        {% for error in form.user_name.errors %}
        <div class="text-danger text-center">
            {{ error }}        
        </div>
        {% endfor %}
    {% endif %}
</div>

<div class="form-group">
    {{ form.tasks.label_tag }}
    {{ form.tasks }}
    {% if form.tasks.errors %}
        {% for error in form.tasks.errors %}
        <div class="text-danger text-center">
            {{ error }}        
        </div>
        {% endfor %}
    {% endif %}
</div>

<div class="text-right my-2">
    <button type="submit" class="btn btn-success">Create</button>
</div>
</form>
{% endblock %}